:root {
  --primario: #9df0f3;
  --primarioOscuro: #09db68;
  --secundario: #fd3232;
  --fuenteTitulo: 'Bungee Tint', static;
  --fuentePrincipal: 'New Amsterdam', sans-serif;
}

/* From Uiverse.io by rishichawda */
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 0.3rem;
  position: relative;
  display: inline-block;
  width: 3.3rem;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked+svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked+svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked+svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked+svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked+svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked+svg #stars {
  opacity: 1;
}

.bodymio {
  font-size: 62.5%;
  background-color: var(--primario);
}


.h1mio {
  font-family: var(--fuenteTitulo);
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
}

.h2mio {
  font-size: 2rem;
  font-family: var(--fuenteTitulo);
  margin-left: 4rem;
}

.h3mio {
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 2rem;
}

.navegacion_contenedor {
  background-color: var(--primarioOscuro);
  font-size: 2rem;
  margin: 0rem;
  font-family: var(--fuentePrincipal);
}

.navegacion_apartados {
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
  text-decoration: none;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navegacion_apartados:hover {
  text-decoration: none;
  color: var(--secundario);
}

.body_oscuro {
  background-color: black;
}

.navegacion_oscuro {
  background-color: grey;
}

.footer_oscuro {
  color: white;
}

.navegacion_apartados::selection {
  color: var(--secundario);
}

.navegacion_apartados:hover {
  background-color: #089898;
  font-weight: 700;
}

.parrafo_principal {
  font-family: var(--fuentePrincipal);
  font-size: 2rem;
  color: var(--secundario);
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 2rem;
}

footer {
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  font-family: var(--fuentePrincipal);
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-weight: 200;
  margin-left: 2rem;
}

.redes_contenedor {
  display: flex;
  justify-content: space-around;
}

.redes_texto {
  display: flex;
  justify-content: center;
}

.redes_conjunto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redes_apartados {
  display: flex;
  justify-content: center;
}

.redes_conjunto:hover {
  color: var(--secundario);
}

.contenedor_imagen {
  grid-column: 2/3;
  text-align: center;
  padding-top: 2rem;
}

.imagen_principal {
  width: 20rem;
  height: auto;
  border-radius: 2rem;
}

.contenedor_lista {
  font-size: 1.5rem;
  font-family: var(--fuentePrincipal);
  color: var(--secundario);
}

.limio {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
}

.inicio_titulo {
  text-decoration: none;
  font-family: var(--fuenteTitulo);
}

.inicio_titulo:hover {
  text-decoration: none;
}

.formulario_contenedor {
  color: #fd3232;
}

.formulario_items {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-family: var(--fuentePrincipal);
  font-size: 1rem;
  justify-content: center;
}

.formulario_input {
  width: 20rem;
  height: 1.5rem;
}

.formulario_campos {
  justify-content: center;

}

.boton {
  background-color: #089898;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.7rem;
  height: 2rem;
}

.boton:hover {
  background-color: var(--secundario);
  cursor: pointer;
}

.mensaje {
  height: 3rem;
}

.info_contacto {
  font-family: var(--fuentePrincipal);
  font-size: 0.8rem;
  margin: 0rem;
  color: green;
}

.nav_contacto {
  text-decoration: none;
  color: green;
}

.nav_contacto:hover {
  text-decoration: none;
  color: green;
}

.nav_contacto::selection {
  color: green;
  text-decoration: none;
}

.titulo_contacto {
  font-size: 1.2rem;
}

.texto_contacto {
  text-decoration: underline;
  margin-bottom: 0rem;
}

.parrafo_mio {
  font-family: var(--fuentePrincipal);
  color: #fd3232;
  font-size: 1.2rem;
  margin-left: 4rem;
}

.contenedor_mio {
  max-width: 50rem;
}